.item-list-container__title{
    margin-top: 8rem;
    font-family: 'Halant', serif;
}

/* @media (max-width: 600px) {
    .item-list-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  } */