.container-cards{
  display:flex;
  justify-content: center !important;
  align-items: center;
  margin-left: 6rem;
  margin-right: 6rem;
}

.btn-carrito{
    border: solid 1px #b41b16;
    color: #b41b16;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}

.btn-carrito:hover{
   background-color: #b41b16;
   color: white;
   border: solid 1px #b41b16;
   transition: all 0.5s ease-out;
}

.btn-carrito:focus{
   background-color: #b41b16;
   color: white;
   border: solid 1px #b41b16;
   transition: all 0.5s ease-out;
}

.btn-cerrar{
   border: solid 1px #494646;
   color: #494646;
   background-color: rgba(255, 255, 255, 0);
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Nunito Sans', sans-serif;
}

.btn-cerrar:hover{
   background-color: #494646;
   color: white;
   border: solid 1px #494646;
   transition: all 0.5s ease-out;
}

.btn-cerrar:focus{
   background-color: #494646;
   color: white;
   border: solid 1px #494646;
   transition: all 0.5s ease-out;
}

.card-modal{
   
   border: none;
}

ul li{
   margin: 10px 0 10px 0;
   
}

.card-img-top-detail {
   width: 100% !important;
   height: 25vw !important;
   object-fit: cover;
}

.btn-terminar-compra{
     border: solid 1px #b41b16;
     color: #b41b16;
     background-color: rgba(255, 255, 255, 0);
     text-transform: uppercase;
     font-weight: 900;
     font-family: 'Nunito Sans', sans-serif;
     width: 32vh;
}

.btn-terminar-compra:hover{
     background-color: #b41b16;
    color: white;
    border: solid 1px #b41b16;
    transition: all 0.5s ease-out;
 }

 .btn-terminar-compra:focus{
     background-color: #b41b16;
    color: white;
    border: solid 1px #b41b16;
    transition: all 0.5s ease-out;
 }

 .counter-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }