 .container-cards{
   display:flex;
   flex-direction: row;
   justify-content: center !important;
   align-items: center !important;
   margin-left: 4rem;
   margin-right: 4rem;
 } 

 .card-img-top-detail {
   width: 100% !important;
   height: 25vw !important;
   object-fit: cover;
}

 @media (max-width: 900px) {
    .container-cards {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-img-top-detail {
      width: 200px !important;
      height: 270px !important;
      object-fit: cover;
   }
}  

  @media (max-width: 700px){
     .card-modal{
         margin-top: 3rem;
     }
     .card-title{
         font-size: 1.5rem;
     }
     .card-text{
      font-size: 0.9rem;
     }
     .card-text-list{
      font-size: 0.9rem;
     }
     .card-text-small{
      font-size: 0.9rem;
     }
     .card-img-top-detail {
      width: 200px !important;
      height: 270px !important;
      object-fit: cover;
   }
  
  }

.btn-carrito{
    border: solid 1px #b41b16;
    color: #b41b16;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}

.btn-carrito:hover{
   background-color: #b41b16;
   color: white;
   border: solid 1px #b41b16;
   transition: all 0.5s ease-out;
}

.btn-carrito:focus{
   background-color: #b41b16;
   color: white;
   border: solid 1px #b41b16;
   transition: all 0.5s ease-out;
}

.btn-cerrar{
   border: solid 1px #494646;
   color: #494646;
   background-color: rgba(255, 255, 255, 0);
   text-transform: uppercase;
   font-weight: bold;
   font-family: 'Nunito Sans', sans-serif;
}

.btn-cerrar:hover{
   background-color: #494646;
   color: white;
   border: solid 1px #494646;
   transition: all 0.5s ease-out;
}

.btn-cerrar:focus{
   background-color: #494646;
   color: white;
   border: solid 1px #494646;
   transition: all 0.5s ease-out;
}

.card-modal{
  
   border: none;
}

ul li{
   margin: 10px 0 10px 0;
   
}


.btn-terminar-compra{
     border: solid 1px #b41b16;
     color: #b41b16;
     background-color: rgba(255, 255, 255, 0);
     text-transform: uppercase;
     font-weight: 900;
     font-family: 'Nunito Sans', sans-serif;
     width: 32vh;
}

.btn-terminar-compra:hover{
     background-color: #b41b16;
    color: white;
    border: solid 1px #b41b16;
    transition: all 0.5s ease-out;
 }

 .btn-terminar-compra:focus{
     background-color: #b41b16;
    color: white;
    border: solid 1px #b41b16;
    transition: all 0.5s ease-out;
 }

 .counter-container{
    display: flex;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
 }