.carousel-container{
    margin-bottom: 8rem !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 5rem;
   
}

.carousel-container h1{
    font-family: 'Bebas Neue', cursive;
}