	.contact_header 
	{
	background:#2a2d36;
	border-radius:0;
	padding:100px 40px 200px 40px;
	}
	.contact_header h1
	{
	color:#fff;
	font-weight:600;
	}
	.contact_header p 
	{
	color:#fff;
	font-size:18px;
	}
	.contact_form_wrapper
	{
	margin-top:-150px;
    margin-bottom: 5rem;
	}
	.contact_form
	{
    
	background:#fff;
	border-radius:4px;
	box-shadow: rgba(42,45,54,.075) 0 12px 34px, rgba(0,0,0,.05) 0 6px 15px, inset transparent 0 0 0 0;
	margin:0 auto 0 auto;
	max-width:850px;
	padding:50px;
	}
	.contact_form .form-control
	{
	border-color:#dcdcdc;
	color:#777;
	padding:8px;
	}
	.contact_form input[type=text]:focus,
	.contact_form input[type=email]:focus,
	.contact_form textarea:focus
	{
	box-shadow:inset 0 0 3px #f0f0f0;
	border:1px solid #bbb;
	}
	
	.contact_form textarea 
	{
	min-height:120px;
	}
	.form-control::-webkit-input-placeholder { color: #888; }  
	.form-control:-moz-placeholder { color: #888;; }  
	.form-control::-moz-placeholder { color: #888;; }  
	.form-control:-ms-input-placeholder { color: #888;; } 
	.form-control::-ms-input-placeholder { color: #888;; }
	
	@media screen and (max-width:767px)
	{
	.contact_header 
	{
	padding: 170px 40px 150px 40px;
	}
	.contact_header h1 
	{
	font-size:28px;
	}
		.contact_form
		{
		padding:25px;
		}
	}

	/* Modal */

	.modal-confirm {		
		color: #636363;
		width: 325px;
		font-size: 14px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
		position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
		position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
	}	
	.modal-confirm .icon-box {
		color: #fff;		
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #82ce34;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;
	}
	.modal-confirm .btn {
		color: #fff;
		border-radius: 4px;
		background: #82ce34;
		text-decoration: none;
		transition: all 0.4s;
		line-height: normal;
		border: none;
	}
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #6fb32b;
		outline: none;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}

	.react-icon-done{
		color: #f1f1f1;
	}