.nav-item{
    text-transform: uppercase;
    font-family: 'Halant', serif;
}

.navbar .navbar-nav .nav-link:hover {
    color: #5d5b5b;
    text-decoration: none !important;    
  }

 @media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }

  .navbar {
       padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
} 

  .navbar .navbar-nav .nav-link {
    position: relative;
    text-transform: uppercase;
    font-family: 'Halant', serif;
       
  }

  .navbar .navbar-nav .nav-link:hover {
    border-bottom: 3px solid rgb(0, 0, 0); 
  }


 .active{
  border-bottom: 3px solid rgb(0, 0, 0);
  }



  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }


    nav{
       box-shadow: 0 5px 5px 0 rgba(0,0,0,.2) !important;
            }

    .navbar-btn{
        margin-right: 10px;
    }

  
    
    .navbar-brand__cart{
       margin-right: 1rem !important; 
    }

 .dropdown-menu{
   border: none;
 }
  .dropdown .nav-link i{
    position: relative;
    font-size: 15px;
    display:inline-block;
    text-align:center;
    color: #7c7c7d;
  }
 
  .dropdown-menu NavLink:focus{
    background-color: none !important;
     border-color: black;
     
   }

   .dropdown-item:focus{
    background-color: none !important;
    color: black !important;
  text-decoration: none;
   }

   .dropdown-item{
     color: #7c7c7d !important;
   }

  .dropdown-item:hover{
    background-color: white !important;
    color: #5d5b5b !important;
     
  }

  .link-text:hover{
 text-decoration: none !important; 
  }

