.nav-item{
    text-transform: uppercase;
    color: red !important;
    font-family: 'Halant', serif;
}

.navbar .navbar-nav .nav-link:hover {
    color: #5d5b5b;
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000000;
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }


    nav{
       box-shadow: 0 10px 10px 0 rgba(0,0,0,.2) !important;
            }

    .navbar-btn{
        margin-right: 10px;
    }

    .btn-sm.round {
        border-radius: 24px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .btn-primary__singIn{
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: black;
        background-color: white;
        border-color: black;
        
    }

    .btn-primary__singIn:hover{
        background-color: #edebe9;
        border-color: black;
        color: black;
    }

    .btn-primary__joinNow{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: white;
        background-color: black;
        border-color: black;
        
    }

    .btn-primary__joinNow:hover{
        background-color: #3d3935;
        border-color: black;
        color: white;
    }

    .navbar-brand__cart{
       margin-right: 1rem !important; 
    }
 
 