/* .item-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */


.item-detail-container__title1{
    font-size: 7rem;
    font-family: 'Halant', serif;
  
}

.item-detail-container__title2{
    text-transform: uppercase;
    margin-top: 7rem;
    font-family: 'Nunito Sans', sans-serif;
}

/* .btn-detalle-volver-container{
    width: 5rem;
    display: flex !important;
    justify-content: center !important ;
} */