body{
    background-color: rgb(255, 255, 255);
}
.noStock{
    color: red;
    font-weight: bold;
}

.card-counter{
   border: none;
    margin: 0 auto;
    float: none; 
    margin-bottom: 50px; 
    margin-top: 50px;
}

.line-bottom{
    border: solid rgb(192, 192, 192) 0.1px;
}

.btn-add-remove{
    display: inline-block;
    vertical-align: top;
     text-align: center;
   }

.btn-agregar-carrito{
    border: solid 1px #494646;
    color: #494646;
     background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}

.btn-agregar-carrito:hover{
background-color: #494646;
    color: white;
    border: solid 1px #494646;
    transition: all 0.5s ease-out;
}

.btn-agregar-carrito:focus{
background-color: #494646;
    color: white;
    border: solid 1px #494646;
    transition: all 0.5s ease-out;
}